
html{
    min-height: 100%;
    position: relative;

}

body{
    background-color: #fff6f1;
    font-family: monospace, Arial;
    margin-bottom: 40px;

}

#titulo_prin, #titulo_ini{
    background-color: rgb(0, 156, 247);
    border-radius: 20px;
    margin: auto;
    color: #fff6f1;
    padding: 5px;

}

#titulo_ini{
    margin: 15px 25px 15px 15px;

}

nav ul li{
    display: inline-block;
    color: black;
    cursor: pointer;
    margin: 15px 25px 15px 0px;
    border: 1px dashed black;
    padding: 5px 15px;
    border-radius: 20px;
    transition: transform 0.4s ease 0.1s;

}

nav ul li:hover{
    transform: scale(1.2);
    background-color: rgb(0, 156, 247);
    color: #fff6f1;

}

#contenido{
    width: 50%;
    margin: auto;
    text-align: center;

}

#texto{
    margin: auto;
    height: auto;
    border: 2px dashed black;
    border-radius: 20px;

}

a{
    color: rgb(0, 156, 247);
    font-weight: bold;

}

#info{
    text-align: justify;
    padding-bottom: 150px;
    margin: 15px 25px 15px 15px;

}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    padding: 20px;
    z-index: -2;

}

form{
    padding: 20px 0;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  
form input{
    width: 80%;
    height: 30px;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 20px;
    font-family: monospace, arial;
    font-size: 15px;
    text-align: center;
}
  
form button{
    margin-top: 10px;
    padding: 0.5em 0.5em;
    border: none;
    background: rgb(0, 156, 247);
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    color: #fff6f1;
    font-family: monospace, arial;
    font-size: 15px;
}

form textarea{
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid black;
    font-size: large;

}

#calificacion{
    appearance: none;
    background-color: rgb(189, 189, 189);
    border: 1px solid grey;
    height: 3px;
    margin: 15px 0;
    transition: transform 0.4s ease 0.1s;

}

#calificacion:hover{
    background-color: rgb(175, 173, 173);
    border: 1px solid rgb(146, 144, 144);

}

#calificacion::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: rgb(92, 92, 92);
    border: 3px solid rgb(73, 73, 73);
    border-radius: 15px; 
    transition: transform 0.4s ease 0.1s;

}

#calificacion::-webkit-slider-thumb:hover{
    background-color: rgb(0, 102, 255);
    border: 3px solid rgb(0, 68, 255);

}

#calificacion::-moz-slider-thumb{
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: rgb(92, 92, 92);
    border: 3px solid rgb(73, 73, 73);
    border-radius: 15px; 
    transition: transform 0.4s ease 0.1s;

}

#calificacion::-moz-slider-thumb:hover{
    background-color: rgb(0, 102, 255);
    border: 3px solid rgb(0, 68, 255);

}

#calificacion::-op-slider-thumb{
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: rgb(92, 92, 92);
    border: 3px solid rgb(73, 73, 73);
    border-radius: 15px; 
    transition: transform 0.4s ease 0.1s;

}

#calificacion::-op-slider-thumb:hover{
    background-color: rgb(0, 102, 255);
    border: 3px solid rgb(0, 68, 255);

}

#calificacion::-ms-slider-thumb{
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: rgb(92, 92, 92);
    border: 3px solid rgb(73, 73, 73);
    border-radius: 15px; 
    transition: transform 0.4s ease 0.1s;

}

#calificacion::-ms-slider-thumb:hover{
    background-color: rgb(0, 102, 255);
    border: 3px solid rgb(0, 68, 255);

}

#min_edad{
    border: 1px solid black;
    padding: 5px;

}

figure img{
    margin-top: 5px;
    padding: 4px;
    border-radius: 20px;
    background: #fff6f1;
    transition: transform 0.4s ease 0.1s;
}

figure img:hover{
    transform: scale(1.2);
}

.boton_html{
    display: inline-block;
    margin: 7px 0;
    padding: 4px;

}

#grid{
    text-align: left;
    margin: 15px 25px 15px 15px;
    padding-left: 3vw;

}

#lienzo{
    border: 2px dashed black;
    border-radius: 20px;

}

#botonera_can{
    list-style: none;
    text-indent: -30px;

}

.boton_can{
    display: inline-block;
    margin: 0 10px;
    color: black;
    cursor: pointer;   
    transition: transform 0.4s ease 0.1s;

}

.boton_can img{
    width: 50px;
    height: 50px;
    margin: 0 5px;
    padding: 0 5px;

}

.boton_can li{
    width: 50px;
    height: 50px;
    margin: 0 5px;
    padding: 0 5px;

}

.boton_can:hover{
    transform: scale(1.2);

}

#lienzo{
    color: #fff6f1;

}

#pin{
    width: 50px;
    height: 50px;

}

#map{
    width: 50vw;
    height: 50vh;
    box-shadow: 5px 5px 5px rgb(34, 34, 34);

}

#href{
    width: 100%;

}

