<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="UTF-8"/>
        <meta name="keywords" content="html5, css3, programacion web"/>
        <title>Proyecto HTML5</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/estilo_proyecto.css') }}">

    </head>
    <body>
        <div id="contenido">
            <header>
                <h1 id="titulo_prin">Protecto HTML5</h1>
            </header>
            <nav>
                <ul>

                    <a href="/inicio"><li>Inicio</li></a>
                    <a href="/html5"><li>HTML5</li></a>
                    <a href="/galeria"><li>Galeria</li></a>
                    <a href="/contacto"><li>Contacto</li></a>

                </ul>
                <h2 id="val_html5">Validacion HTML5</h2>
            </nav>
            <section>
                <div id="texto">
                    <article>
                        
                        <h2 id="titulo_ini">Bienvenido este es mi Proyecto</h2>
                        <p id="info">Esto es un proyecto de prueba y practica de HTML5 (HTML, CSS y JavaScript) para mostrar 
                            mis habilidades en este estadandar, en la creacion y manipulacion de paginas webs. 
                            Ademas de la combinacion de colores sencillos pero agraciados.</p>

                    </article>
                </div>
            </section>
            <div><p>Visita mi <a href="https://github.com/ricardoglod13?tab=repositories" target="_blank">portafolio de GitHub</a></p></div>
        </div>
        <footer>

            <cite>Derechos de Autor Ricardo Sanchez</cite><br>
            <cite>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></cite>
            
        </footer>
    </body>
</html>