<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="UTF-8"/>
        <meta name="keywords" content="html5, css3, programacion web"/>
        <title>Proyecto HTML5</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/estilo_proyecto_galeria.css') }}">

    </head>
    <body>
        <div id="contenido">
            <header>
                <h1 id="titulo_prin">Protecto HTML5</h1>
            </header>
            <nav>
                <ul>

                    <a href="/inicio"><li>Inicio</li></a>
                    <a href="/html5"><li>HTML5</li></a>
                    <a href="/galeria"><li>Galeria</li></a>
                    <a href="/contacto"><li>Contacto</li></a>

                </ul>
                <h2 id="val_html5">Validacion HTML5</h2>
            </nav>
            <section>

                <h2 id="titulo_ini">Galeria de Imagenes</h2>

                <div id="galeria_img">
                    <a href="#image1"><img src="{{url_for ('static', filename = './images/Pantalla1_html5.png')}}" width="400px"></a>
                    <a href="#image2"><img src="{{url_for ('static', filename = './images/Pantalla2_html5.png')}}" width="400px"></a>
                    <a href="#image3"><img src="{{url_for ('static', filename = './images/Pantalla3_html5.png')}}" width="400px"></a>
                </div>

                <article class="lightbox" id="image1">

                    <a href="#image3" class="sig"><img src="{{url_for ('static', filename = './images/avance-rapidor.png')}}"></a>

                    <img src="{{url_for ('static', filename = './images/Pantalla1_html5.png')}}" id="foto">

                    <a href="#image2" class="sig"><img src="{{url_for ('static', filename = './images/avance-rapido.png')}}"></a>
                    <a href="#" class="cerrar">X</a>

                </article>

                <article class="lightbox" id="image2">

                    <a href="#image1" class="sig"><img src="{{url_for ('static', filename = './images/avance-rapidor.png')}}"></a>

                    <img src="{{url_for ('static', filename = './images/Pantalla2_html5.png')}}" id="foto">

                    <a href="#image3" class="sig"><img src="{{url_for ('static', filename = './images/avance-rapido.png')}}"></a>
                    <a href="#" class="cerrar">X</a>

                </article>

                <article class="lightbox" id="image3">

                    <a href="#image2" class="sig"><img src="{{url_for ('static', filename = './images/avance-rapidor.png')}}"></a>

                    <img src="{{url_for ('static', filename = './images/Pantalla3_html5.png')}}" id="foto">

                    <a href="#image1" class="sig"><img src="{{url_for ('static', filename = './images/avance-rapido.png')}}"></a>
                    <a href="#" class="cerrar">X</a>

                </article>

            </section>
            <div><p id="portafolio">Visita mi <a href="https://github.com/ricardoglod13?tab=repositories" target="_blank">portafolio de GitHub</a></p></div>
        </div>
        <footer>

            <cite>Derechos de Autor Ricardo Sanchez</cite><br>
            <cite>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></cite>
            
        </footer>
    </body>
</html>